@font-face {
    font-family: 'StickNoBills';
    font-display: fallback;

    src: url("./StickNoBills-Regular.ttf")format("truetype");

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'StickNoBills';
    font-display: fallback;

    src: url("./StickNoBills-Bold.ttf")format("truetype");

    font-weight: 900;
    font-style: bold;
}