.original_header {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.change_header {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media only screen and (max-width: 489px) {
    .original_header {
        font-size: 30px;
    }

    .change_header {
        font-size: 30px;
    }
}

